*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{

	font-family: 'Montserrat', sans-serif;

}

:root {

	/*HEADER*/
	--header-color:black;
	--header-textcolor:white;
	--header-buttoncolor:white;
	--header-buttontextcolor:black;

	/*NAV BAR*/
	--navbar-color:#BEBEBE;
	--navbar-textcolor:white;
	--navbar-hovercolor:whitesmoke;
	--navbar-hovertextcolor:black;
	--navbar-activecolor:black;
	--navbar-activetextcolor:white;

	/*ABOUT*/
	--about-color:whitesmoke;
	--about-textcolor:black;

	/*GALERIA*/
	--galeria-color:white;
	--galeria-textcolor:black;

	/*CONTACTOS*/
	--contactos-color:whitesmoke;
	--contactos-textcolor:black;

	/*NOTICIAS*/
	--noticias-color:whitesmoke;
	--noticias-textcolor:black;

	/*FOOTER*/
	--footer-color:black;
	--footer-textcolor:white;

	/*TILE*/
	--tile-button1:#f6b93b;
}


.background-preloader{
	border:2px solid red;
}


.loader{
	display: flex;
	align-items: center;
	justify-content: center;
	border:16px solid #BEBEBE;
	border-radius: 50%;
	border-top: 16px solid red;
	width: 120px;
	height: 120px;
	margin: 80px;
	animation: spin 2s linear infinite;
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.header{
	height: 100px;
	padding: 30px;
	background-color: var(--header-color);
	display: flex;
	justify-content: space-between;
}


.header h1{
	color:var(--header-textcolor);
	text-align: left;
}

.theme-control{
	position: relative;
	width: 100px;
	text-align: center;
	font-weight: bold;
}


.menu-theme, .submenu-item-theme{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-theme a{
	display: block;
	background-color: var(--header-buttoncolor);
	text-decoration: none;
	padding: 10px;
	color:var(--header-buttontextcolor);
	border:2px solid white;
}

.menu-theme li:hover .submenu-item-theme{
	display: block;
}


.submenu-item-theme {
	display: none;
}


.theme-button-default{
	background-color:black;
	color: white;
	font-size: 16px;
	border:1px solid white;
	width: 100px;
}


.theme-button{
	background-color:#773344;
	color: white;
	font-size: 16px;
	border:none;
	width: 100px;
}

.theme-button-green{
	background-color:#45CA58;
	color: white;
	font-size: 16px;
	border:none;
	width: 100px;
}

.theme-button-red{
	background-color: #BF0000;
	color:white;
	font-size: 16px;
	border:none;
	width: 100px;
}

.theme-button-blue{
	background-color: #011F4B;
	color: white;
	font-size: 16px;
	border:none;
	width: 100px;
}

.theme-button-yellow{
	background-color: #ffd300;
	color:white;
	font-size: 16px;
	border:none;
	width: 100px;
}



.main-row {

	min-height: calc(100vh - 100px - 100px);
	height: 100%;
	display: flex;
	flex-direction: column;

}

.nav-bar {
	background-color:var(--navbar-color);
	border-top: 2px solid white;
	display: flex;
	flex-direction: row;
	text-align: center;
	list-style: none;
	justify-content: center;
	height: 40px;
}


.nav-bar li a{
	padding: 10px 50px 10px 50px;
	font-size: 20px;
	display: block;
	color: var(--navbar-textcolor);
	font-weight: bold;
	text-decoration:none;
	text-align: center;
}

.nav-bar a:hover{
	background-color: var(--navbar-hovercolor);
	color:var(--navbar-hovertextcolor);
}

.nav-bar li a.active{

    background-color: var(--navbar-activecolor);
    color: var(--navbar-activetextcolor);
    font-weight: bold;
}

.select{
	display: flex;
	justify-content:flex-end;
}


.main { 
	width: 70%;
	padding: 14px;  
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

.main h1{
	text-align: center;
	margin-bottom: 0;
}

.imagem-perfil{
	width: 250px;
	height: 240px;
	border-radius: 50%;
	margin:auto;
	display: flex;
	justify-content: center;
	box-shadow: 0 0 5px gray;
}

.about {

	background-color: var(--about-color);
	margin: 50px;
	width: 100%;
	box-shadow: 0 0 5px gray;
}

.about p{
	margin:auto;
	margin-top:20px;
	padding-bottom: 10px;
	width: 50%;
}

/* Galeria */

.galerias{
	display: flex;
	flex-wrap: wrap; 

}
.galeria {
	width: calc(33.33% - 20px);
	background-color: var(--galeria-color);
	margin: 10px;
	margin-top: 40px;
	padding: 5px;
	border: 1px solid #ccc;
	text-align: center;

}

.galeria img{
	width: 250px;
	height: 150px;
	margin: 5px;
	border-radius: 5px;
}

.galeria .descr{
	color:var(--galeria-textcolor);
	text-align: center;
	margin-bottom: 5px;
}

hr{
	margin-bottom: 10px;
}


/** Serviços */
.wrap{
	margin: 50px auto 0 auto;
	width: 100%;
	display: flex;
	align-items: space-around;
}

.tile{
	width: 280px;
	height: 280px;
	margin: 10px;
	background-color: #f5f5f5;
	display:inline-block;
	background-size: cover;
	position: relative;
	transition: all 0.4s ease-out;
	overflow:hidden;
	color: black;

}

.tile img{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 0;
	transition: all 0.4s ease-out;

}



.tile .texto{
	position: absolute;
	padding: 30px;
	height:calc(100% - 60px);
}

.tile h2{
	font-weight: 100;
	margin: 20px 0 0 0;
	transform: translateY(-200px);
}

.tile p{
	font-weight: 300;
	margin: 20px 0 0 0;
	line-height: 25px;
	transform: translateY(200px);
	transition-delay:0.2s; 
}


.animate-text{
	opacity:0;
  transition: all 0.6s ease-in-out;
}

.tile:hover img{
	opacity: 0.1;
}

.tile:hover .animate-text{
	transform: translateY(0);
	opacity:1;
}

.tile .button1{
	background-color: white;
	color:black;
	width: 100px;
	margin:10px;
	padding: 5px;
	font-size: 15px;
	border:2px solid #494949;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	transform: translateY(200px);
	transition: all 0.4s ease;

}

.tile:hover .button1{
	color:#000000;
	background-color: var(--tile-button1);
	transform: translateY(0px);
}


/**Formulário Contacto */


.wrapper{
	max-width: 800px;
	margin: 70px auto;
	background-color:var(--contactos-color);
	padding: 40px;
	box-shadow: 0 0 5px gray;

}

.wrapper h1{
	text-align: center;
	margin-bottom: 70px;
	font-size: 35px;
}

.contacto{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 70px;
}

.endereco-simples p{
	font-size: 13px;
}

.form{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.titulo-form{
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.input-form{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.mensagem{
	width: 100%;
	margin-bottom: 20px;
}

input {
	border:0;
	width: 260px;
	padding: 10px 20px;
	outline: none;
}

.msg textarea{
	width: 100%;
	border: 0;
	padding: 10px 20px;
	outline: none;
	height: 80px;
}


/*Noticias*/

.noticias{
	display: flex;
	flex-wrap: wrap;
}

.noticia{
	width: calc(33.33% - 20px);
	list-style: none;
	background-color: var(--noticias-color);
	margin: 10px;
	margin-top: 40px;
	padding: 5px;
	border:1px solid #ccc;
	text-align: center;
}

.noticia img{
	width: 250px;
	height: 150px;
	margin: 5px;
	border-radius: 5px;
}

.noticia.descr{
	color:var(--galeria-textcolor);
	text-align: center;
	margin-bottom: 5px;
}


.date::before {
	content: "\1f4c5"; 
	color: red; font-size: 15px; 
	margin:5px;

}


/*footer */

.footer{
	height: 100px;
	width: 100%;
	background-color: var(--footer-color);
	padding: 30px;
}

div .info {
	color: var(--footer-textcolor);
	text-align: center;
}

.social-media{
	margin-top: 10px;
	width: 30px;
	height: 30px;
}

/* 
------------------------

Purple theme 

-------------------------
*/


.theme-purple {
	--header-color: #773344;
	--header-textcolor:#f5e9e2;
	--header-buttoncolor:#773344;
	--header-buttontextcolor:white;
	--navbar-color:#e3b5a4;
	--navbar-textcolor:#f5e9e2;
	--navbar-hovercolor:whitesmoke;
	--navbar-hovertextcolor:#773344;
	--navbar-activecolor:#773344;
	--navbar-activetextcolor:#f5e9e2;
	--about-color:#f5e9e2;
	--galeria-color:#f5e9e2;
	--contactos-color:#f5e9e2;
	--noticias-color:#f5e9e2;
	--footer-color:#0b0014;
	--tile-button1:#773344;
}

/* 
------------------------

GREEN theme 

-------------------------
*/

.theme-green {
	--header-color: #45ca58;
	--header-textcolor:white;
	--header-buttoncolor:#45ca58;
	--header-buttontextcolor:white;
	--navbar-color:#cef1d3;
	--navbar-textcolor:white;
	--navbar-hovercolor:whitesmoke;
	--navbar-hovertextcolor:#45ca58;
	--navbar-activecolor:#45ca58;
	--navbar-activetextcolor:white;
	--about-color:#edfaef;
	--galeria-color:#edfaef;
	--contactos-color:#cef1d3;
	--noticias-color:#cef1d3;
	--footer-color:#2b973b;
	--tile-button1:#45ca58;
}

/*-----------------------

RED theme

-------------------------
*/

.theme-red{
	--header-color: #AA1520;
	--header-textcolor:white;
	--header-buttoncolor:#AA1520;
	--header-buttontextcolor:white;
	--navbar-color:#CA7279;
	--navbar-textcolor:white;
	--navbar-hovercolor:whitesmoke;
	--navbar-hovertextcolor:#CB1F26;
	--navbar-activecolor:#CB1F26;
	--navbar-activetextcolor:white;
	--about-color:#faf1f2;
	--galeria-color:#faf1f2;
	--contactos-color:#faf1f2;
	--noticias-color:#faf1f2;
	--footer-color:#B51B23;
	--tile-button1: #AA1520;
}


/*-----------------------

BLUE theme

-------------------------
*/

.theme-blue{
	--header-color: #011F4B;
	--header-textcolor:white;
	--header-buttoncolor:#011F4B;
	--header-buttontextcolor:white;
	--navbar-color:#b3cde0;
	--navbar-textcolor:#005b96;
	--navbar-hovercolor:whitesmoke;
	--navbar-hovertextcolor:#005b96;
	--navbar-activecolor:#005b96;
	--navbar-activetextcolor:white;
	--about-color:#b3cde0;
	--galeria-color:#b3cde0;
	--contactos-color:#b3cde0;
	--noticias-color:#b3cde0;
	--footer-color:#03396c;
	--tile-button1:#011F4B;
}

/*-----------------------

Yellow theme

-------------------------
*/

.theme-yellow{
	--header-color: #ffd300;
	--header-textcolor:#000033;
	--header-buttoncolor:#ffd300;
	--navbar-color:#ffe877;
	--navbar-textcolor:#000033;
	--navbar-hovercolor:whitesmoke;
	--navbar-hovertextcolor:#181818;
	--navbar-activecolor:#ffd300;
	--navbar-activetextcolor:white;
	--about-color:#fff9dd;
	--galeria-color:#fff9dd;
	--contactos-color:#fff9dd;
	--noticias-color:#fff9dd;
	--footer-color:#eec500;
	--tile-button1:#ffd300;
}
