*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	color: white;
	font-family: 'Montserrat', sans-serif;

}

.header{
	height: 100px;
	padding: 30px;
	background-color: black;
	text-align: center;
}


.main-row {

	min-height: calc(100vh - 100px - 200px);
	height: 100%;
	display: flex;

	justify-content: space-between;

}

.nav-bar {
	background-color: #00CCCC;
	width: 15%; 
	display: flex;
	flex-direction: column;
	text-align: center;

}


.nav-bar li a{
	height: 100px;
	padding: 30px;
	font-size: 20px;
	display: block;
	list-style-type: none;
	color: white;
	text-decoration:none;
	text-align: center;

}

.nav-bar a:hover{
	background-color: whitesmoke;
	color:black;
}

.nav-bar li a.active{

    background-color:#00e6e6;
    color: white;
    font-weight: bold;
}


.main { 
	width: 70%;
	padding: 14px;  
	background-color: white;
	color:black;
	margin-right: auto;
}

.galerias{
	display: flex;
	flex-wrap: wrap; 
	max-height: 200vh;


}
.galeria {
	width: 200px;
	margin: 10px;
	border: 1px solid #ccc;

}

.galeria img{
	width: 130px;
	height: 130px;
	margin: 5px;

}

.galeria .descr{
	text-align: center;
	margin-bottom: 5px;
}


.formulario{
		background:rgba(58,63,68,0.5);
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  width:450px;
  display: flex;  
  flex-direction: column;
}

.footer{
	height: 200px;
	width: 100%;
	background-color: black;
	color: white;
	padding: 30px;
}
